<% if(@player.blank?) %>
"Nothing here" 
else
	<% @player.each do |f| %>
    <tr>
      <td><%= f.nickname %></td>
      <td><%= f.rank %></td>
      <td><%= f.charisma %></td>
      <td><%= f.wisdom %></td>
      <td><%= link_to 'show_one', :article => f.nickname %></td>
      <td><%= link_to 'Edit', :article => f.nickname %></td>
      <td><%= link_to 'delete', :article => f.nickname %></td>
    </tr>
  <% end %>
 <% end %>

