
<%= form_for @player, url: root_path do |f| %>
  <%= f.text_area :nickname %><br />
  <%= f.text_area :rank %><br />
  <%= f.text_area :charisma %><br />
  <%= f.text_area :wisdoms %><br />
  <%= f.submit "Create" %>
<% end %>