
<%= form_for @player, url: root_path do |f| %>
  Nickname: <%= f.text_field :nickname %>
  Rank: <%= f.text_field :rank %>
  Charisma: <%= f.text_field :charisma %>
  Wisdom: <%= f.text_field :wisdoms %>
<% end %>